$darkMode: true;

@mixin darkMode {
	@if($darkMode) {
		@media(prefers-color-scheme: dark) {
			@content
		}
	}
}

$map: (
	duration: 1s,
	delay: .2s,
	property: background-size,
	timing-function: ease-in,
);

$bgDark: #090909;
$bgLight: #edecec;

$dCarousel: #c94736;
$dBorderCarousel: #ad3121;
$dCarouselShadow: #120a09;

$fDark: #d8cbcb;
$fLight: #3c3636;

$afDark: #eb493d;
$afLight: #dd4f3d;

$acfDark: #b02d24;
$acfLight: #a73122;