$darkMode: true;

@mixin darkMode {
	@if($darkMode) {
		@media(prefers-color-scheme: dark) {
			@content
		}
	}
}

$map: (
	duration: 1s,
	delay: .2s,
	property: background-size,
	timing-function: ease-in,
);

$bgDark: #090909;
$bgLight: #edecec;

$fDark: rgb(216, 203, 203);
$fLight: rgb(60, 54, 54);

$afDark: #eb493d;
$afLight: #dd4f3d;

$acfDark: #b02d24;
$acfLight: #a73122;