@import '../styles/config';

.group {
  display: flex;
  align-items: center;
  width: 100%;
}

.grid {
  max-width: 900px;
  width: 65%;
  height: fit-content;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @media screen and (max-width: 1375px) {
    gap: 1rem;
    width: 80%;
  }
  @media screen and (max-width: 890px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .left {
    margin: auto 0;
    font-size: 4.2rem;
    width: 100%;
    transition: font-size 0.3s ease;

    @media screen and (max-width: 1375px) {
      font-size: 3.5rem;
    }

    @media screen and (max-width: 890px) {
      text-align: center;
      font-size: 3rem;
    }
    .name {
      color: $afDark;

      @include darkMode {
        color: $afLight;
      }
    }
    
    .j_title {
      opacity: 90%;
    }
  }
  
  .img_wrapper {
    margin: 0 auto;
    width: 24rem;
    height: 24rem;
    border-radius: 100%;
    background: rgb(237,236,236);
    background: -moz-linear-gradient(0deg, rgba(237,236,236,1) 29%, rgba(221,79,61,1) 76%);
    background: -webkit-linear-gradient(0deg, rgba(237,236,236,1) 29%, rgba(221,79,61,1) 76%);
    background: linear-gradient(0deg, rgba(237,236,236,1) 29%, rgba(221,79,61,1) 76%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#edecec",endColorstr="#dd4f3d",GradientType=1);

    @include darkMode {
      background: rgb(9,9,9);
      background: -moz-linear-gradient(0deg, rgba(9,9,9,1) 29%, rgba(235,73,61,1) 76%);
      background: -webkit-linear-gradient(0deg, rgba(9,9,9,1) 29%, rgba(235,73,61,1) 76%);
      background: linear-gradient(0deg, rgba(9,9,9,1) 29%, rgba(235,73,61,1) 76%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#090909",endColorstr="#eb493d",GradientType=1);
    }

    .alex {
      width: 100%;
      border-radius: 100%;
      margin-top: -1rem;
    }
  }
}