@import '../styles/config';

nav {
  width: 95%;
  margin: 0 auto;
  font-size: 4rem;
  padding: 2rem;
  .browser_flex {
    display: flex;
    justify-content: space-between;
  }
  h1 {
    font-size: 7rem;
    letter-spacing: -1rem;
    margin-top: -2.1rem;
    a {
      color: $afLight;
      transition: color 0.2s ease, opacity 0.2s ease;
      &:hover {
        color: $fLight;
      }
      @include darkMode {
        color: $afDark;

        &:hover {
          color: $fDark;
        }
      }

      &:active {
        opacity: 80%;
      }
      
    }
  }
  .browser_list_items {
    display: flex;
  }
  .mobile_list_item {
    text-align: right;
  }
  ul {
    gap: 3rem;
    list-style-type: none;
    font-weight: bold;
    a {
      color: $fLight;
      transition: color 0.2s ease;
      &:hover {
        color: $afLight;
      }

      @include darkMode {
        color: $fDark;

        &:hover {
          color: $afDark;
        }
      }
      
      &:active {
        color: $acfLight;
  
        @include darkMode {
          color: $acfDark;
        }
      }
    }
  }
}



.nav_button {
  appearance: none;
  background: none;
  border: none;
  

  .icon {
    stroke: $fLight;
    margin-top: -0.5rem;
    margin-right: -4rem;
    width: 6rem;
    height: 6rem;
    transition: stroke 0.2s ease;

    @include darkMode {
      stroke: $fDark;
    }
    
    &:hover {
      stroke: $afLight;

      @include darkMode {
        stroke: $afDark;
      }
    }

    &:active {
      stroke: $acfLight;

      @include darkMode {
        stroke: $acfDark;
      }
    }

  }
}

.phone {
  padding-right: 3.2rem;
  text-align: right;
}

.nav_open {
  .mobile_list_item {
    height: 16rem;
    opacity: 1;
    transition: opacity 0.2s ease, height 0.2s ease;
  }
}

.nav_closed {
  .mobile_list_item {
    height: 0;
    opacity: 0;
    transition: opacity 0.2s ease, height 0.2s ease;
  }
}